@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Brush Script', cursive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(2 6 23);
  color: rgb(248 250 252);    
}

h1 {
  font-family: 'Permanent Marker', cursive;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Board-specific CSS */

.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.start {
  margin: 2rem;
  font-size: 2rem;
  background-color: rgb(103, 214, 214);
  border: none;
  border-radius: 6px;
  padding: 1rem;
  cursor: pointer;
}

.end {
  margin: 2rem;
  font-size: 2rem;
  background-color: rgb(103, 214, 214);
  border: none;
  border-radius: 6px;
  padding: 1rem;
  cursor: pointer;
}

p {
  font-size: 2rem;
}

/* Shooting Stars Animation */

.stars *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
.stars{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position-x: center;
  animation: animateBg 50s linear infinite;
  background: url("/../bg0.jpg");
  background-size: cover;

}
@keyframes animateBg {
  0%,100%
  {
      transform:scale(1);
  }
  50%
  {
      transform:scale(1.2);
  }
}

.starspan{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
  animation:  animate 3s linear infinite;
}
.starspan::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0%
  {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
  }
  70%
  {
      opacity: 1;

  }
  100%
  {
      transform: rotate(315deg) translateX(-1500px);
      opacity: 0;

  }
  
}
.starspan:nth-child(1){
  top: 0;
  right: 0;
  left:initial;
  animation-delay:0 ;
  animation-duration: 1s;
}

.starspan:nth-child(2){
  top: 0;
  right: 80px;
  left:initial;
  animation-delay:0.2s;
  animation-duration: 3s;
}

.starspan:nth-child(3){
  top: 80px;
  right: 0px;
  left:initial;
  animation-delay:0.4s ;
  animation-duration: 2s;
}

.starspan:nth-child(4){
  top: 0;
  right: 180px;
  left:initial;
  animation-delay:0.6s;
  animation-duration: 1.5s;
}

.starspan:nth-child(5){
  top: 0;
  right: 400px;
  left:initial;
  animation-delay:0.8s;
  animation-duration: 2.5s;
}

.starspan:nth-child(6){
  top: 0;
  right: 600px;
  left:initial;
  animation-delay:1s ;
  animation-duration: 3s;
}
.starspan:nth-child(7 ){
  top: 300px;
  right: 0px;
  left:initial;
  animation-delay:1s ;
  animation-duration: 1.75s;
}

.starspan:nth-child(8){
  top: 0px;
  right: 700px;
  left:initial;
  animation-delay:1.4s ;
  animation-duration: 1.25s;
}

.starspan:nth-child(9){
  top: 0px;
  right: 1000px;
  left:initial;
  animation-delay:0.75s ;
  animation-duration: 2.25s;
}

.starspan:nth-child(10){
  top: 0px;
  right: 1000px;
  left:initial;
  animation-delay:2.75s ;
  animation-duration: 2.25s;
}




